<div class="home-container">
  <header class="header">
    <h1 class="main-title">Mapa de Galiza</h1>
  </header>



  <div class="home-map-container">
    <div class="map-wrapper">
      <div id="map"></div>

      <div class="opacity-card">
        <div class="label-row">
          <span class="material-icons" (click)="toggleHelp($event)">help_outline</span>
          <span>HISTORIA</span>
        </div>
        @if(showHelp){
        <div class="help-balloon">
          <p>Estás vendo as <strong>Minutas Cartográficas</strong> do IGN, debuxos feitos á man realizados entre
            <strong>1910 e 1970</strong>.
          </p>
          <div class="balloon-arrow"></div>
        </div>
        }
        <div class="slider-container">
          <input type="range" min="0" max="1" step="0.01" [(ngModel)]="opacity" (input)="updateOpacity()"
            [style.--value]="(opacity * 100) + '%'">
        </div>
        <div class="percentage">{{ (opacity * 100).toFixed(0) }}%</div>
      </div>
    </div>


    <div class="map-legend">
      <div class="legend-item">
        <div class="dot marker-lugar"></div><span class="material-icons sm">castle</span><span>Lugar</span>
      </div>
      <div class="legend-item">
        <div class="dot marker-asociacion"></div><span class="material-icons sm">groups</span><span>Asociación</span>
      </div>
      <div class="legend-item">
        <div class="dot marker-evento"></div><span class="material-icons sm">theater_comedy</span><span>Evento</span>
      </div>
    </div>
    @if(selectedPlace){
    <div class="place-card">
      <div class="card-header">
        <span class="badge" [ngClass]="selectedPlace.tipo">{{ selectedPlace.tipo.toUpperCase() }}</span>
        <button class="close-btn" (click)="selectedPlace = null">×</button>
      </div>
      <div class="card-body">
        <h2>{{ selectedPlace.nome }}</h2>
        <p class="desc">{{ selectedPlace.descripcion }}</p>
        <div class="info-grid">
          <div class="info-box">
            <span class="material-icons">directions_run</span>
            <div><strong>Bailes</strong>
              <p>{{ selectedPlace.bailes?.join(', ') }}</p>
            </div>
          </div>
          <div class="info-box">
            <span class="material-icons">audiotrack</span>
            <div><strong>Música</strong>
              <p>{{ selectedPlace.cancions?.join(', ') }}</p>
            </div>
          </div>
        </div>
        <div class="card-actions-row">
          <button class="explore-btn">Ver detalles</button>

          @if(selectedPlace.tipo === 'personalizado') {
          <button class="btn-icon btn-edit" (click)="abrirParaEditar(selectedPlace)" title="Editar">
            <span class="material-icons">edit</span>
          </button>
          <button class="btn-icon btn-delete" (click)="borrarMarcador(selectedPlace)" title="Borrar">
            <span class="material-icons">delete</span>
          </button>
          }
        </div>
      </div>
    </div>
    }

    <div class="search-container">
      <div class="search-box">
        <span class="material-icons">search</span>
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar marcador...">
      </div>
      @if (searchResults.length >0) {
      <ul class="search-results">
        @for (res of searchResults; track $index) {
        <li (click)="seleccionarDesdeBuscador(res)">
          <span class="material-icons">{{ res.icono }}</span>
          <div class="res-info">
            <span class="res-name">{{ res.nome }}</span>
            <span class="res-type">{{ res.tipo }}</span>
          </div>
        </li>
        }
      </ul>
      }
    </div>
  </div>


<div class="contenedor-boton-final">

  @if (rolUsuario === 'ADMIN' || rolUsuario === 'SUPERUSER') {
    <p-speeddial
  [model]="adminMenuItems"
  type="quarter-circle"
  direction="up-left"
  [radius]="100"
  showIcon="pi pi-plus"
  hideIcon="pi pi-times"
  buttonClassName="p-button-rounded custom-main-btn"
  tooltipPosition="left"
  [style]="{ position: 'fixed', right: '25px', bottom: '110px' }">
</p-speeddial>
  } @else {
    <div class="boton-flotante" (click)="abrirFormulario()">
      <span class="material-icons">add</span>
    </div>
  }

</div>

  @if (mostrarFormularioMarcadores) {
  <div class="overlay-container" [class.active]="mostrarFormularioMarcadores" [hidden]="!mostrarFormularioMarcadores">
    <div class="form-card">
      <div class="form-header">
        <h2><span class="material-icons">add_location_alt</span> Novo Marcador</h2>
        <button class="btn-close" (click)="cerrarFormulario()">×</button>
      </div>

      <div class="form-body">
        <div class="input-group">
          <label>Nome do Marcador</label>

          <input type="text" (input)="errorMsg =''" [(ngModel)]="nuevoMarcador.nome" placeholder="Ex: Fonte da Vida...">
          @if(errorMsg){
          <label style="color:red; margin-bottom: 10px;">
            {{ errorMsg }}
          </label>
          }
        </div>

        <div class="form-group">
          <label class="input-group">Descripción:</label>
          <textarea class="textarea" [(ngModel)]="nuevoMarcador.descripcion" placeholder="Escribe aquí os detalles..."
            rows="3">
  </textarea>
        </div>

        <div class="map-picker-container">
          <label>Fai clic no mapa para situar o punto:</label>
          <div id="mapPick" style="height: 200px; border-radius: 10px; margin-top: 5px;"></div>
        </div>

        <div class="coords-display">
          <div class="coord-item">
            <small>Lat</small>
            <span>{{ nuevoMarcador.coords.lat.toFixed(5) }}</span>
          </div>
          <div class="coord-item">
            <small>Lng</small>
            <span>{{ nuevoMarcador.coords.lng.toFixed(5) }}</span>
          </div>
        </div>
      </div>

      <div class="form-footer">

        <button class="btn-cancel" (click)="cerrarFormulario()">Cancelar</button>

        <button class="btn-save" (click)="CrearMarcadorPersonalizado()">
          <span class="material-icons">save</span> {{textoBotonForm}}
        </button>
      </div>
    </div>
  </div>
  }
 @if (mostrarFormLugar) {
  <app-form-lugar
    [datos]="selectedPlace"
    (cancelar)="mostrarFormLugar = false"
    (guardado)="recargarMapa()">
  </app-form-lugar>
}
<!--
@if (mostrarFormEvento) {
  <app-form-evento
    (cancelar)="mostrarFormEvento = false"
    (guardado)="recargarMapa()">
  </app-form-evento>
}
@if (mostrarFormAsociacion) {
  <app-form-asociacion
    [datos]="selectedPlace"
    (cancelar)="mostrarFormLugar = false"
    (guardado)="recargarMapa()">
  </app-form-asociacion>
} -->

</div>
<app-action-toast [visible]="toastConfig.visible" [mensaje]="toastConfig.mensaje" [icon]="toastConfig.icon"
  [txtConfirmar]="toastConfig.txtConfirmar" (confirmar)="ejecutarAccionToast()" (cancelar)="cerrarToast()">
</app-action-toast>
