<div class="action-toast" [class.show]="visible">
  <div class="toast-content">
    <span class="material-icons">{{ icon }}</span>
    <p>{{ mensaje }}</p>
  </div>

  <div class="toast-actions">
    @if(tipo == 'ascender' || tipo == 'descender' || tipo == 'eliminar' || tipo == 'aceptar-solicitud' || tipo == 'rechazar-solicitud' || tipo == 'eliminar-solicitud'){
    <button type="button" class="toast-btn confirm" (click)="onConfirmar()">
      {{ txtConfirmar }}
    </button>
  }
    <button type="button" class="toast-btn cancel" (click)="onCancelar()">
      @if(tipo === 'cancelar' || tipo == 'info'){
        CANCELAR
      }@else{
        {{ txtCancelar }}
      }


    </button>
  </div>
</div>
