<div class="search-wrapper">
<header class="header">
    <h1 class="main-title">Búsqueda</h1>
  </header>

  <div class="search-header">
    <div class="input-container main-search">
      <input type="text"
             placeholder="Busqueda xeral..."
             [(ngModel)]="busquedaPrincipal"
             (ngModelChange)="aplicarFiltrosDeTexto()">

      <div class="search-actions">
        <span class="material-icons search-icon">search</span>
        <span class="material-icons filter-icon"
              [class.active]="mostrarAvanzados"
              (click)="toggleAvanzados()"
              title="Filtros avanzados">
          tune
        </span>
      </div>
    </div>
  </div>

  <div class="pills-container">
    <button *ngFor="let filtro of filtrosDisponibles"
            class="pill-btn"
            [class.active]="esFiltroActivo(filtro)"
            (click)="toggleFiltro(filtro)">
      {{ filtro }}
    </button>
  </div>

  <div class="advanced-panel" *ngIf="mostrarAvanzados">


    <div class="advanced-grid">
      <div class="form-group">
        <label>Térmo específico</label>
        <input type="text" class="simple-input" placeholder="Ex. Patada..."
               [(ngModel)]="busquedaAvanzada.texto"
               (ngModelChange)="aplicarFiltrosDeTexto()">
      </div>

      <div class="form-group">
        <label>Provincia</label>
        <input type="text" class="simple-input" placeholder="Ex. A Coruña..."
               [(ngModel)]="busquedaAvanzada.provincia"
               (ngModelChange)="aplicarFiltrosDeTexto()">
      </div>

      <div class="form-group">
        <label>Lugar</label>
        <input type="text" class="simple-input" placeholder="Ex. Santiago de Compostela..."
               [(ngModel)]="busquedaAvanzada.localidad"
               (ngModelChange)="aplicarFiltrosDeTexto()">
      </div>
    </div>
    <div class="dashed-divider"></div>
  </div>

  <div class="results-section">
    <h3 class="results-title">RESULTADOS ({{resultadosFiltrados.length}})</h3>

    <div class="result-list">
      <div class="result-item"
           *ngFor="let item of resultadosFiltrados"
           (click)="abrirDetallePopup(item)"
           style="cursor: pointer;">
        <div class="item-info">
          <span class="item-name">{{ item.nombre }}</span>
          <span class="item-sub">📍 {{ item.localidad }}, {{ item.provincia }}</span>
        </div>
        <span class="item-badge" [ngClass]="item.tipo">{{ item.tipo }}</span>
      </div>

      <div class="no-results" *ngIf="resultadosFiltrados.length === 0">
        <p>No se encontraron resultados para tu búsqueda.</p>
      </div>
    </div>
  </div>
</div>

<app-detalles-general
  [isOpen]="modalDetalleAberto"
  [item]="itemDetalleSeleccionado"
  (close)="modalDetalleAberto = false">
</app-detalles-general>
